# .gitignore

# Entorno virtual
venv/
env/
ENV/
*.venv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store


# Logs
*.log

# Archivos temporales
tmp/
temp/
*.tmp

# Dependencias
node_modules/

# Variables de entorno
.env
.env.local
